.cards__item {
  display: flex;
  margin: 0 100px 0;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.cards__item:last-of-type {
  margin: 0;
}

.cards__item:first-of-type {
  margin: 0;
}
